<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'warroom/warroom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'warroom/map_editor.css' %}">
</head>

<body>

{% include 'includes/messages.html' %}





<div id="ctrlbar" class="sidebar">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div id="main">
    <canvas id="mainCanvas" width="200" height="200" style="border:3px solid #a5a5a5;">
    </canvas> 
</div>


<script type="text/javascript">
    var mapid = "{{mapid}}";
    window.top.document.title = "LogisticX map: " + mapid
    var map_url = "{% url 'getmap' %}?mapid={{mapid}}"
    var RuleSet_url = "{% url 'getruleset' %}?name={{ruleset_name}}&version={{ruleset_version}}"
</script>
<script src="{% static 'warroom/map_classes.js' %}"></script>
<script src="{% static 'warroom/map_utils.js' %}"></script>
<script src="{% static 'warroom/map_editor.js' %}"></script>
<script src="{% static 'warroom/map_view.js' %}"></script>

</body>
</html>
