<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'warroom/warroom.css' %}">


</head>

<body>

{% include 'includes/messages.html' %}


<canvas id="mainCanvas" width="200" height="200" style="border:3px solid #a5a5a5;">
</canvas> 
<script type="text/javascript">
    var mapid = "{{mapid}}";
    window.top.document.title = "LogisticX map: " + mapid
    var map_url = "{% url 'getmap' %}?mapid={{mapid}}"
    var RuleSet_url = "{% url 'getruleset' %}?name={{ruleset_name}}&version={{ruleset_version}}"
    var platoons_url = "{% url 'getcompanies' %}?mapid={{mapid}}"
</script>

<script src="{% static 'warroom/deps/rgbcolor.js' %}"></script>

<script src="{% static 'warroom/graphics.js' %}"></script>
<script src="{% static 'warroom/map/map_classes.js' %}"></script>
<script src="{% static 'warroom/map/map_utils.js' %}"></script>
<script src="{% static 'warroom/units/units_classes.js' %}"></script>
<script src="{% static 'warroom/units/units_utils.js' %}"></script>
<script src="{% static 'warroom/main.js' %}"></script>
<script src="{% static 'warroom/map/map_view.js' %}"></script>
<script src="{% static 'warroom/facilities/facilities.js' %}"></script>


</body>
</html>
