.subdiv {
    width: 100%;
    height: max(8.5em, 15%);
    position: Fixed;
    z-index: 1;
    overflow: auto;
    /*padding: 20px;*/
  }

  /* Control the login at the top */
.d_login {
    top: 0;
    background-color: #c4dbdd;
  }

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0.5em;
  }

.padded {
    padding: 5px;
  }

.translucent_container {
    opacity: 0.7;
    background-color: #9DC264;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 2em;
  }

body{
  background-color: #daf7e5;
}
