.subdiv {
    width: 100%;
    height: max(8em, 15%);
    position: Fixed;
    z-index: 1;
    overflow: auto;
    /*padding: 20px;*/
  }

  /* Control the login at the top */
.d_login {
    top: 0;
    background-color: #c4dbdd;
  }

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0.5em;
  }

.padded {
    padding: 5px;
  }
