<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'menu/menu_buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'menu/subdiv.css' %}">

</head>

<body>

<!--
<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>
-->

{% if user.is_authenticated %}
<div class="subdiv d_login authed">
    <div class="centered">
        <p class="login_msg" id="login_msg">Welcome {{ user.username }}!</p>
    </div>
    <form action="{% url 'logout'%}" method="post" class="logout_form">
        {% csrf_token %}
        <button class="button button_light_grey button_logout" name="logout">Logout</button>
    </form>
</div>
{% else %}
<div class="subdiv d_login">
    <div class="centered">
        {% if login_err %}
        <p class="login_msg login_err" id="login_msg"> Invalid username or password. </p>
        {% else %}
        <p class="login_msg" id="login_msg">Please Login:</p>
        {% endif %}
        <form action= method="post">
            {% csrf_token %}
            <!--<label for="uname"><b>Username</b></label>-->
            <input type="text" placeholder="Username" name="username" required style="margin:2px; font-size: 14px;">
            <br>
            <!--<label for="psw"><b>Password</b></label>-->
            <input type="password" placeholder="Password" name="password" required style="margin:2px; font-size: 14px;">
            <br>
            <div>
                <button class="button button_light_grey" formaction="{% url 'm_login'%}" name="login">Login</button>
                <button class="button button_light_grey" formaction="{% url 'register'%}" name="register">Register</button>
            </div>
            <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        </form>
    </div>
</div>
{% endif %}

<div class="centered">

    <div class="translucent_container">
        
        <button class="button button_main">Tutorial</button>
        <br>
        {% if user.is_authenticated %}
        <button class="button button_main">Single Player</button>
        {% else %}
        <button class="button button_greyed_out">Single Player</button>
        {% endif %}
        <br>
        <button class="button button_greyed_out">Multi Player</button>
        
    </div>
</div>

<!--
<canvas id="myCanvas" width="800" height="600" style="border:3px solid #a5a5a5;">
</canvas> 

<script src="interactions.js"></script>
-->

</body>
</html>
